[submodule "submodules/CommonLibSSE"]
	path = submodules/CommonLibSSE
	url = https://github.com/Ryan-rsm-McKenzie/CommonLibSSE.git
[submodule "submodules/DirectXTex"]
	path = submodules/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
